<% @users.each do |user| %>
  <div class="user">
    <h4 style="margin: 0"><%= user.firstname + user.lastname %></h4>
    <span><%= link_to "Add friend", friendships_path(friend_id: user.id), method: :post %></span>
  </div>
  <br><br>
<% end %>