<h1>Listing all Videos</h1>

<% @videos.each do |video| %>
  <div class="video">
    <h3><%= link_to video.title, video_path(video) %></h3>
    <p><%= video.description %></p>
    <% if video.users.first == current_user %>
      <div class="links">
        <%= link_to "Edit", edit_video_path(video) %> |
        <%= link_to "Delete", video_path(video), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
<% end %>